<div class="row">
  <div class="col s12">
    <h3 class="center-align">Students</h3>
  </div>
</div>

<div class="row">
  <% @students.each do |student| %>
    <div class="col s4 m4 ">
      <div class="card green darken-1">
        <div class="card-content white-text">
          <span class="card-title"><%= student.name %></span>
          <p><%= student.email %></p>
          <p>Course Enrollments: none</p>
        </div>
        <div class="card-action">
          <%= link_to "View Profile", student_path(student) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
