<h1>Courses</h1>
<ul>
  <li>Code: CS11</li>
  <li>Name: Intro into computer science</li>
  <li>Description: An Intro into Computer Science</li>
</ul>

<ul>
  <li>Code: CS12</li>
  <li>Name: Intro into Medicine</li>
  <li>Description: An Intro into the World of Medicine</li>
</ul>
