<div class="row">
  <div class="col s12">
    <h3 class="center-align">Courses</h3>
  </div>
</div>

<div class="row">
    <div class="col s4 m4">
      <div class="card green darken-1">
        <div class="card-content white-text">
          <span class="card-title">Code: CS111</span>
          <p>Name: Intro into computer science</p>
          <p>Description: An Intro into Computer Science</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s4 m4">
      <div class="card green darken-1">
        <div class="card-content white-text">
          <span class="card-title">Code: CS112</span>
          <p>Name: Intro into Medicine</p>
          <p>Description: An Intro into the World of Medicine</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s4 m4">
      <div class="card green darken-1">
        <div class="card-content white-text">
          <span class="card-title">Code: CS113</span>
          <p>Name: Intro into Law</p>
          <p>Description: An Intro into Studying Law with a Case Study</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    
  </div>


