@import "materialize";

// Fonts
// .white {
//   color: white !important;
// }

// Keeping the Footer 'Sticky'

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

// Font color

input{
  color: #000;
}

button, input{
  color: #fff !important;
}

// Navbar Dropdown

ul .dropdown-family {
  margin-top: 10px;
  li {
    border: .5px solid #fff;
    border-radius: 3px;
  }
}

#mobile-demo li {
  padding-left: 30px;
  padding-right: 30px;
}

.account-head {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 1rem;
}

//Icons

.material-icons {
  color: white !important;
}

//Courses Index Page

